.Signup_container {
    display:grid;
}
.Signup_container > h3 {
    margin-left : 80px;
}
.Signup_container > div> input {
    border-radius: 5px;
    margin-top:10px;
    margin-left:10px;
    padding:10px;
    border:none;
    width:200px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);
}
.Signup_container > div > button {
    width:100px;
    border-radius: 5px;
    margin-top:20px;
    margin-left:70px;
    border:none;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.2);

}
.Signup_container > div > button:active {
    color:white;
    background-color: rgba(8, 8, 8, 0.8);
}